body{
	background:url(../images/texture.jpg) repeat;
	font-family:Gerogia;
	font-size:15px;
}

strong{
	font-weight:bold;
}

.clr{
	clear:both;
}


h1{
	font-size:40px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h3{
	padding: 10px 0;
	font-size: 21px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-style: italic;
}

#container{
	width: 930px;
	margin: 50px auto 10px auto;
	padding: 20px 30px;
	border-bottom: #666 solid 3px;
	border-top:#666 solid 6px;
	background: white;
}


#header{
	padding:10px 0;
	border-bottom: #ccc dotted 1px;
	overflow: hidden;
}

#header #name{
	float: left;
}

#header #contact{
	float: right;
}

.row{
	padding: 30px 0;
	border-bottom: #ccc dotted 1px;
	font-size:20px;
	overflow:hidden;
}

h2.row{
	float:left;
	font-family:italic;
	font-size:140px;
}

#profile p{
	float:right;
	width:700px;
}

#skills ul{
	float:center;
	widht:700px;
}

#skills ul li{
	float:right;
	padding: 0 40px 0 10px;
	font-size:16px;
	width:700px;
}

#technical table{
	float:right;
	width:700px;
}

#technical table td{
	width:100px;
	border-bottom:#ccc solid 1px;
	padding:5px;
}

#education div{
	width: 700px;
	float: right;
	padding:10px 0;
}

#education div h3{
	font-style:normal;
	font-size:18px;
	line-height:1.6cm;
	text-transform: uppercase;
}

#footer{
	text-align:center;
	margin-bottom: 10px;
}